@font-face {
  font-family: 'GloberBook';
  font-display: swap;
  src: url('./../../fonts/GloberBook.otf');
}

@font-face {
  font-family: 'GloberRegular';
  font-display: swap;
  src: url('./../../fonts/GloberRegular.otf');
}

@font-face {
  font-family: 'Koliko';
  font-display: swap;
  src: url('./../../fonts/koliko-Regular.ttf');
}