/* --- COLORS --- */

$main:        #BD3049;
$main-2:      #CB3149;
$main-3:      #81001b;
$aux:         #555154;


/* --- FONTS --- */
$font-main:		  'Koliko', Helvetica, Arial, sans-serif;
$font-secondary:  'GloberRegular', Helvetica, Arial, sans-serif;
$font-third:      'GloberBook', Helvetica, Arial, sans-serif;
